@charset "UTF-8";

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    background: rgb(228, 228, 228);
    font-family: "Inria Sans", sans-serif;

    font-size: 1.8rem;
}

header {
    background: white;
    height: 8rem;
    box-shadow: .1rem .1rem 1rem rgb(165, 165, 165);
    justify-content: center;
    
    display: flex;;

}

header nav {
    display: flex;
    margin: 3rem auto 2rem 2rem;
    gap: 2rem;
}



header nav a {
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-family: "Inria Sans", sans-serif;
    font-weight: 600;
}

header nav a:hover {
    color: rgb(34, 34, 34);
}

.search-container {
    margin: auto;
}


.search-container input {
    background: rgb(228, 228, 228);
    border: solid rgb(191, 191, 191) .2rem;
    color: 97, 97, 97;
    
    height: 5rem;
    width: 30rem;
    margin: auto 8.5rem auto 0;
    border-radius: .8rem;
    padding: .1rem 3rem;
    transition: background .2s;
    font-family: "Inria Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.search-container img {
    width: 2rem;
    position: absolute;
    margin: 1.6rem 1rem;
    filter: opacity(50%);
}

.search-container input:focus {
    color: rgb(97, 97, 97);
    outline: solid rgb(146, 230, 255) .2rem;
}

header input:hover {
    background: rgb(212, 212, 212);

}


.pfp {
height: 5rem;
width: 5rem;
border-radius: 50%;
margin: 1.7rem 2rem 0 auto;
}

.page {
    margin: 0 auto;
}

.board {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 2rem;
    max-width: 70rem;
    justify-content: center;
}

.pictures {
    background: white;
    display: flex;
    align-items: center;
    width: 25rem;
    height: 17.5rem;
    border-radius: .5rem;
}

.pictures img {
    width: 20rem;
    margin: 0 auto;
    transition: all .2s;
}

.pictures img:hover {
    width: 21rem;
    filter: hue-rotate(7deg) contrast(101%) saturate(150%);
}